.navbar {
  display: flex;
  font-family: var(---third-family);
  overflow: hidden;
}

.content-container {
  padding: 5px;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.content-container .title {
  font-size: clamp(1.6rem, 1.6rem + 3vh, 2.4rem);
  /* color: var(---first-color); */
  color: white;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

/* .content-container .title, */
.content-container .profile {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(---background-color-primary);
  border-radius: 30px;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
}

.content-container .title {
  padding: 0 20px;
}

.content-container .img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}

.content-container .img:hover {
  scale: 1.1;
}

.content-container .img:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
}

.content-container .img i {
  font-size: 2.6rem;
  color: rgb(200, 200, 200);
  border-radius: 50%;
  padding: 3px;
}

.content-container .profile .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4px;
  /* gap: 4px; */
}

.content-container .profile .details .name {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  /* color: rgb(200, 200, 200); */
}

.content-container .profile .details .role {
  font-size: 0.9rem;
  color: rgb(141, 140, 140);
}

.content-container .profile .settings {
  margin-left: auto;
}

.links {
  /* overflow: auto; */
  overflow-y: auto;
  scrollbar-color: var(---first-color) #e4dbc2;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.link {
  margin: 5px 5%;
  padding: 15px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.link i {
  font-size: 1.8rem;
  color: rgb(141, 140, 140);
}

.link:hover {
  background-color: rgba(209, 209, 209, 0.488);
  letter-spacing: 1px;
  scale: 1.05;
}

.title-link {
  margin-top: 20px;
  color: rgb(141, 140, 140);
  margin-left: 5px;
  margin-bottom: 5px;
}
